@inherits LayoutComponentBase

<div class="bg-info text-white p-2">
    <div class="container-fluid">
        <div class="row">

            <div class="col">
                <span class="navbar-brand ml-2">SPORTS STORE Administration</span>
            </div>@*.col*@

            <div class="col-2 text-right">
                <a href="/account/logout" class="btn btn primary">Log Out</a>
            </div>@*.col-2*@

        </div>@*.row*@
    </div>@*.container-fluid*@
</div>

<div class="container-fluid">
    <div class="row p-2">

        <div class="col-3">
            <NavLink class="btn btn-outline-primary btn-block"
                     href="/admin/products"
                     ActiveClass="btn-primary text-white"
                     Match="NavLinkMatch.Prefix">
                Products
            </NavLink>
            <NavLink class="btn btn-outline-primary btn-block"
                     href="/admin/orders"
                     ActiveClass="btn-primary text-white"
                     Match="NavLinkMatch.Prefix">
                Orders
            </NavLink>
        </div>@*.col-3*@

        <div class="col">
            @Body
        </div>@*.col*@

    </div>@*.row*@
</div>@*.container-fluid*@

